*{
    margin: 0;
    padding: 0;
}
.box{
    margin: 10vh 25vh;
    height: 80vh;
}
img{
    width: 100%;
    height: 70%;
    display:block;
    object-fit: cover;
}
button{
    width: 100%;
    height: 30%;
    background-image: linear-gradient(to right, #ffcc00, #33cc33);
    border: 2px solid;
    font-size: 2em;
    cursor: pointer;
}